@model ChampionsLeague.Models.Order.OrderTicketVM

@{
    ViewData["Title"] = "Tickets kopen";

}

@section Styles {
    <link rel="stylesheet" href="~/css/OrderIndex.css" />
}

<h1>Koop ticket</h1>
<div class="ticket-details-container">
    <h4>Match details</h4>
    <p class="clubnames">@Model.Match.Thuisclub.Naam vs @Model.Match.Bezoekersclub.Naam</p>
    <p>Datum: @Model.Match.MatchDate</p>
    <p>Stadion: @Model.Match.Stadion.Naam</p>
</div>


<form asp-action="CreateTicket" method="post">

    <!--selecteren van een stadionvak-->
    <label>Stadionvak</label>
    <select asp-for="GeselecteerdStadionvakId">
        <option value="">Selecteer een stadionvak</option>
        @foreach (var stadionvak in Model.Stadionvakken)
        {
            <option value="@stadionvak.Id">@stadionvak.Ring - @stadionvak.Partij</option>
        }
    </select>


    <!--selecteren van aantal tickets-->

    <label>Stadionvak</label>
    <select asp-for="GeselecteerdStadionvakId">
        <option value="">Selecteer een stadionvak</option>
        @foreach (var stadionvak in Model.Stadionvakken)
        {
            <option value="@stadionvak.Id">@stadionvak.Ring - @stadionvak.Partij</option>
        }
    </select>

</form>


