@model Club

<div class="club-detail">
    <div class="club-header">
        <h1>@Model.Naam</h1>
        <img src="@Model.LogoPath" alt="@Model.Naam" class="club-logo" />
    </div>

    <div class="club-stadion">
        <h3>Stadion</h3>
        <p>Naam: @Model.Stadion?.Naam</p>
        <p>Capaciteit: @Model.Stadion?.Capaciteit</p>
    </div>

     <form asp-controller="Club" asp-action="AddAbonnementToCart" method="post">
    <input type="hidden" name="clubId" value="@Model.Id" />
    <button type="submit" class="btn btn-primary">Abonnement kopen</button>
    </form>
</div>