@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
    <section class="hero-container">
        <img class="hero-image" src="/images/heroImage.jpg">
    </section>


    <section class="content-container">

        <!--Bron gebruikt: Wikipedia : Inhoud tekst komt niet overeen met de gebruikte data in het project, deze info is toegevoegd als placeholder-->
        <section class="about-container">
            <h3>@Localizer["Title_Competitie"]</h3>
            <p>@Localizer["Text_Competitie"]</p>
        </section>

        <section class="history-container">
            <h3>@Localizer["Title_Geschiedenis"]</h3>
            <p>@Localizer["Text_Geschiedenis"]</p>
        </section>

        <section class="seizoen-container">
            <h3>@Localizer["Title_Seizoen"]</h3>
            <p>@Localizer["Text_Seizoen"]</p>
            <a class="btn btn-light" asp-controller="Match" asp-action="Index">
                @Localizer["Btn_Matches"]
            </a>
        </section>

        

     
    </section>

   
   
</div>
