@model IEnumerable<Match>

@{
    ViewData["Title"] = "Matches Page";
    var groupedMatches = Model.GroupBy(m => m.MatchDate).OrderBy(g => g.Key);

}

@section Styles {
    <link rel="stylesheet" href="~/css/MatchIndex.css" />
    <link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css" />

}

<div class="text-center">
    <h1 class="display-4 page-title">Matches</h1>

    <table id="match-table" class="table">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Thuisploeg</th>
                <th>Bezoekers</th>
                <th>Stadion</th>
                <th>Koop tickets</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in groupedMatches)
            {
                @foreach (var match in group)
                {
                    <tr>
                        <td>@($"{group.Key:dd MMMM yyyy}")</td>
                        <td>@match.Thuisclub.Naam</td>
                        <td>@match.Bezoekersclub.Naam</td>
                        <td>@match.Stadion.Naam</td>
                        <td> <!--#50 Blokkeer in de UI de mogelijkheid om tickets te kopen voor matches met date > 1 maand-->
                            @if (match.MatchDate != null && match.MatchDate.Value <= DateOnly.FromDateTime(DateTime.Now.AddMonths(1)))
                            {
                                // minder dan een maand:
                               <a asp-controller="Order" asp-action="Ticket" asp-route-matchid="@match.Id" class=" btn btn-primary">Koop ticket</a>
                            }
                            else
                            {
                                // Meer dan een maand:
                                <button class="btn btn-dark" disabled>Nog niet beschikbaar</button>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

